
#navbarback{
    background-color: grey;
}.nav-link ,.navbar-brand{
    text-decoration:none;
    color: white;
}.nav-link:hover ,.navbar-brand:hover{
    color: black;
}.tabla{
    background-color: rgb(220, 219, 219);
}#opciones>a{
    text-decoration: underline;
    border: solid 2px rgb(100, 100, 100);
    color: black;
}
#opciones2>a{
    text-decoration: underline;
    border: solid 2px rgb(100, 100, 100);
    color: black;
}
#opciones{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}#opciones>a{
    padding: 4%;
    height: 50px;
    width: 300px;
    align-items: left; 
}
#contenedor{
display: flex;
padding: 10%;
}
#tablas{
    width: 100%;
}
#titulo{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}.container{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    
}
#myCarousel{
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}


.slide{
    text-align: center;
    width: 500px;
    padding: 50px auto;
    overflow: hidden;
    
}


.slide ul{
    display: flex;
    padding: 0;
    width: 300%;


    animation: slide 9s infinite linear;
}


.slide li{
    font-family: 'Gabarito', cursive;
    list-style: none;
    width: 100%;
    border: solid red;
}


@keyframes slide {
    0% {margin-left: 0%;}
    30% {margin-left: 0%;}


    35% {margin-left: -100%;}
    55% {margin-left: -100%;}


    60% {margin-left: -200%;}
    90% {margin-left: -200%;}
}

@media (max-width: 960px){
    #opciones{
        visibility:hidden;
    }
    
}
@media (max-width: 720px){
    #opciones{
        visibility:hidden;
    }
    #tablas{
        display: flex;
        justify-content: center;
    }
    .slide{
        text-align: center;
        width: 200px;
        margin-left: 90px;
        overflow: hidden;
    }
}
@media (max-width: 540px){
    #opciones{
        visibility:hidden;
        width: 0px;
    }
    .slide{
        text-align: center;
        width: 200px;
        margin-left: 50px;
        overflow: hidden;
    }
    .tabla{
        width: 200px;
        margin-left: 5%;
        height: 90%;
    }   
    #contenedor{
        width: 300px;
    }
    #tablas{
        display: grid;
        grid-template-columns: 1fr;
        

    }
}
 